<?xml version="1.0" encoding="UTF-8"?>

<!--
  The contents of this file are subject to the OpenMRS Public License
  Version 1.0 (the "License"); you may not use this file except in
  compliance with the License. You may obtain a copy of the License at
  http://license.openmrs.org

  Software distributed under the License is distributed on an "AS IS"
  basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
  License for the specific language governing rights and limitations
  under the License.

  Copyright (C) OpenMRS, LLC.  All Rights Reserved.
  -->

<module configVersion="1.2">

    <!-- Module Properties -->
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>${project.parent.groupId}.${project.parent.artifactId}</package>
    <author>snkasthu</author>
    <description>
        ${project.parent.description}
    </description>
    <updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
    <require_version>${openMRSVersion}</require_version>
    <!-- / Module Properties -->

    <require_modules>
        <!-- <require_module version="2.0">org.openmrs.module.webservices.rest</require_module> -->
    </require_modules>

    <!-- Module Activator -->
    <activator>${project.parent.groupId}.${project.parent.artifactId}.FHIRActivator</activator>


    <!-- Adds link to admin page -->
    <extension>
        <point>org.openmrs.admin.list</point>
        <class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
    </extension>

    <aware_of_modules>
        <aware_of_module version="1.1-SNAPSHOT">org.openmrs.module.allergyapi</aware_of_module>
    </aware_of_modules>

    <!-- Maps hibernate file's, if present -->
    <mappingFiles>

        FHIR.hbm.xml

    </mappingFiles>

    <servlet>
        <servlet-name>fhirServelet</servlet-name>
        <servlet-class>org.openmrs.module.fhir.server.FHIRRESTServer</servlet-class>
    </servlet>
    <!-- Internationalization -->
    <!-- All message codes should start with ${project.parent.artifactId}. -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>
    <!-- /Internationalization -->


    <filter>
        <filter-name>FHIR Authorization</filter-name>
        <filter-class>org.openmrs.module.fhir.filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FHIR Authorization</filter-name>
        <url-pattern>/ws/fhir/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>forwardingFilterr</filter-name>
        <filter-class>org.openmrs.module.fhir.filter.ForwardingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>forwardingFilterr</filter-name>
        <url-pattern>/ws/fhir/*</url-pattern>
    </filter-mapping>

    <globalProperty>
        <property>${project.parent.artifactId}.baseUrl</property>
        <defaultValue>http://localhost:8080/openmrs/ws/fhir</defaultValue>
        <description>The URI prefix through which clients consuming FHIR services will connect to the web application, should
            be of the form http://{ipAddress}:{port}/{contextPath}/ws/fhir
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.isCustomerNarrativesEnabled</property>
        <defaultValue>false</defaultValue>
        <description>Set true if you need to enable custom narratives</description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.customNarrativePropertiesPath</property>
        <defaultValue>classpath:/com/foo/customnarrative.properties</defaultValue>
        <description>Set custom narratives property path</description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.allergy.allergyStrategy</property>
        <defaultValue>ActiveListAllergyStrategy</defaultValue>
        <description>Set allergy strategy</description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.allergy.ObsAllergyStrategy.concept.uuid</property>
        <defaultValue>1234</defaultValue>
        <description>Concept id for allergy obs</description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.concept.codingSystem</property>
        <defaultValue>OPENMRS</defaultValue>
        <description>Concept Coding System</description>
    </globalProperty>
    <!-- Diagnostic Report -->
    <globalProperty>
        <property>${project.parent.artifactId}.encounter.encounterRoleUuid</property>
        <defaultValue>73bbb069-9781-4afc-a9d1-54b6b2270e03</defaultValue>
        <description>Encounter Role uuid</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.encounter.encounterType.DEFAULT</property>
        <defaultValue>01234-abcde-56789</defaultValue>
        <description>EncounterType uuid for Default (not available in http://hl7.org/implement/standards/fhir/v2/0074/index
            .html)</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.encounter.encounterType.LAB</property>
        <defaultValue>01234-abcde-56789</defaultValue>
        <description>EncounterType uuid for Laboratory in http://hl7.org/implement/standards/fhir/v2/0074/index.html
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.encounter.encounterType.RAD</property>
        <defaultValue>01234-abcde-56789</defaultValue>
        <description>EncounterType uuid for Radiology in http://hl7.org/implement/standards/fhir/v2/0074/index.html
        </description>
    </globalProperty>

    <privilege>
        <name>View FHIR Client</name>
        <description>Gives access to FHIR rest client</description>
    </privilege>
</module>

